
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }



    /* set up primary and neutral colors */
    :root {
        --Nutmeg: hsl(14, 45%, 36%);
        --DarkRaspberry: hsl(332, 51%, 32%); 
        --White: hsl(0, 0%, 100%);
        --RoseWhite: hsl(330, 100%, 98%);
        --Eggshell: hsl(30, 54%, 98%);
        --LightGrey:hsl(30, 10%, 34%);
        --DarkCharcoal:hsl(24, 5%, 18%);

        
    /* set up typography */

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400, 600, 700;
    font-style:normal;

    .young-serif-regular {
        font-family: "Young Serif", serif;
        font-weight: 400;
        font-style: normal;
      }




    } /*root */
    .primary-card {
      width: 1440px;
      height: 1200px;
      background-color:var(--Eggshell);
    }
    .recipe-card {
      background-color: var(--White);
      width: 500px;
      height: 1150px;
      border-radius:3%;
      position: relative;
      margin-left: 150px;
      margin-top: 100px;
      
    }
    h1 {
      font-color: var(--DarkCharcoal);
      margin-left:30px;
      font-family: var(--Outfit);
    }
    img {
     
      width:100%;
      position:absolute;
      margin-left: px;
      margin: top 30px;
      margin-left:35px;
      border-radius:2%;
    
    }
    .recipe-title {
      margin-left:15 px;
      margin-top:220px;
      position: absolute;
    }
    .recipe-description {
      margin-left:15px;
      position:relative;
      font-weight:400;

    }

    .prep-card {
      margin-left:15 px;
      width:100%;
      height: 120px;
      background-color:var(--RoseWhite);
      position: relative;
      font-weight:400;
    }

    .prep-instructions {
      color:var(--DarkCharcoal);
      font-weight:400;
    }
    ul {
      list-style-type: style type disc;
      color: var(--LightGrey);
    }
    
    .ingredient-card {
      background-color:var(--White);
      height: 200px;
      width: 100%;
      font-weight:400;
      margin-top:20px;
      position:relative;
    }
    
    h2 {
      font-size:20px;
      color:var(--Nutmeg);  
     }
     hr {
      color:hsl(30, 18%, 87%);
     }
     body {
      font-size: 16px;
     }

     .instructions {
      font-color:hsl(24, 5%, 18%);
    }

    
    table {
      border: 2px dotted green;
      color:var(--Nutmeg);
    }
    
    span {
        font-weight:bold;
    }
     

    
